#color-palette .color {
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  height: 100px;
}

#pixel-board {
  width: 210px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#clear-board {
 display: block;
 margin-bottom: 30px;
 margin-top: 20px;
}
